body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f8fc;
}

/* Navbar */
.navbar {
    background: #0d6efd;
    padding: 12px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: white;
    margin: 0;
}

.navbar a {
    color: white;
    margin-left: 18px;
    text-decoration: none;
    font-size: 14px;
}

/* Layout */
.container {
    width: 92%;
    max-width: 1000px;
    margin: 30px auto;
}

/* Cards */
.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

/* Forms */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0a58ca;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #0d6efd;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Badges */
.badge {
    background: #0d6efd;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
}
