{% extends "base.html" %}
{% block content %}

<h2 class="page-title">Admin Dashboard</h2>

<div class="section-card">
<h3>Appointments</h3>

<table class="admin-table">

<tr>
<th>Patient</th>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
</tr>

{% for a in appointments %}
<tr>
<td>{{ a.patient_email }}</td>
<td>{{ a.doctor }}</td>
<td>{{ a.date }}</td>
<td>{{ a.time }}</td>
<td>{{ a.status }}</td>
</tr>
{% endfor %}

</table>
</div>

<div class="section-card">
<h3>Registered Patients</h3>

<table class="admin-table">
<tr>
<th>Name</th>
<th>Email</th>
<th>Blood Group</th>
</tr>

{% for p in patients %}
<tr>
<td>{{ p.name }}</td>
<td>{{ p.email }}</td>
<td>{{ p.blood }}</td>
</tr>
{% endfor %}

</table>
</div>

<div class="section-card">
<a href="/add-doctor">
<button class="btn-primary">Add Doctor</button>
</a>
</div>

{% endblock %}
