{% extends "base.html" %}
{% block content %}

<div class="card">
  <h2 class="section-title">Our Medical Specialists</h2>

  <div class="doctor-grid">
    
    {% for doctor in doctors %}
    <div class="doctor-card">

      <img src="{{ doctor.image }}" class="doctor-img">

      <h3 class="doctor-name">
        <a href="/doctor/{{ loop.index0 }}">{{ doctor.name }}</a>
      </h3>

      <p class="doctor-specialty">{{ doctor.specialty }}</p>

      <p class="doctor-exp">{{ doctor.experience }} years experience</p>

    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
