<!DOCTYPE html>
<html>
<head>
    <title>Next-Gen Hospital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>Next-Gen Hospital</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    </div>
</div>

<div class="container">

<div class="card" style="text-align:center;">
    <h1 style="color:#0d6efd;">Smart Patient Appointment Platform</h1>
    <br>
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button style="background:gray;">Register</button></a>
</div>

<div class="card">
    <h3 style="color:#0d6efd;">Key Features</h3>
    <ul>
        <li>Patient Medical Profile Management</li>
        <li>Online Doctor Appointment Booking</li>
        <li>Admin Controlled Doctor Listing</li>
        <li>Secure and Cloud-Ready Architecture</li>
    </ul>
</div>

</div>

</body>
</html>
