{% extends "base.html" %}
{% block content %}

<div class="card center">
<img src="{{ url_for('static', filename='images/logo.png') }}" width="90">
<h1 class="section-title">Next-Gen Hospital Platform</h1>
<p>Secure Healthcare • Online Appointments • Digital Records</p>

<a href="/login"><button>Login</button></a>
<a href="/register"><button style="background:gray;">Register</button></a>
</div>

<div class="card">
<h3 class="section-title">Health Tips</h3>
<ul>
{% for t in tips %}
<li><b>{{t.title}}</b> — {{t.content}}</li>
{% endfor %}
</ul>
</div>

{% endblock %}
