{% extends "base.html" %}
{% block content %}

<div class="card form-card">
<h2 class="form-title">Login</h2>

<form method="post">

<label>Email</label>
<input type="email" name="email" placeholder="Enter your email" required>

<label>Password</label>
<input type="password" name="password" placeholder="Enter your password" required>

<div class="form-actions">
<button>Login</button>
</div>

</form>

{% with messages = get_flashed_messages() %}
{% for msg in messages %}
<p class="alert">{{msg}}</p>
{% endfor %}
{% endwith %}

{% if show_register %}
<div class="form-actions">
<a href="/register">
<button style="background:green;">Register Now</button>
</a>
</div>
{% endif %}

</div>

{% endblock %}
