{% extends "base.html" %}
{% block content %}

<div class="form-card">
<h2 class="form-title">Patient Registration</h2>

<form method="post">

<div class="form-row">
<label>Full Name</label>
<input name="name" required>
</div>

<div class="form-row">
<label>Email</label>
<input type="email" name="email" required>
</div>

<div class="form-row">
<label>Password</label>
<input type="password" name="password" required>
</div>

<div class="form-grid">

  <div class="form-row">
    <label>Date of Birth</label>
    <input type="date" name="dob" required>
  </div>

  <div class="form-row">
    <label>Blood Group</label>
    <select name="blood">
      <option>A+</option>
      <option>B+</option>
      <option>O+</option>
      <option>AB+</option>
    </select>
  </div>

</div>

<div class="form-row">
<label>Allergies</label>
<input name="allergies">
</div>

<div class="form-row">
<label>Previous Diseases</label>
<input name="diseases">
</div>

<div class="form-actions">
<button type="submit">Register</button>
</div>

</form>
</div>

{% endblock %}
