<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="navbar"><h2>Patient Registration</h2></div>
<div class="container card">
<form method="post">
<input name="name" placeholder="Full Name" required>
<input name="email" placeholder="Email" required>
<input name="password" type="password" placeholder="Password" required>
<label>DOB</label><input type="date" name="dob">
<label>Blood Group</label>
<select name="blood"><option>A+</option><option>B+</option><option>O+</option><option>AB+</option></select>
<input name="allergies" placeholder="Allergies">
<input name="diseases" placeholder="Previous Diseases">
<button>Register</button>
</form>
</div>
